.box {
    width: 350px;
    padding: 30px 40px 40px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #ddd;
    margin: 100px auto 0;
    background-color: #fff;
  }
  .box h2 {
    margin: 20px 0 40px 0;
    font-size: 20px;
    text-align: center;
  }
  .box h2 a {
    margin: 0 10px;
    text-decoration: none;
  }
  .myw {
    width: 100%;
  }
  .box h2 a.router-link-active {
    color: orangered !important;
    text-decoration: underline;
  }
  h1 {
    color: red;
  }